<!DOCTYPE html>
<html>
<head>
  <title>wtfcanyoueat</title>
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
  <div class="columns">
    <div class="column"></div>
    <div>
      <img src="https://d3p157427w54jq.cloudfront.net/uploads/2017/09/confused-guy-636x397.jpg" height=800px width="1200px">
    </div>
    <div class="column is-four-fifths">
      <header class="is-size-1 has-text-centered"><a href="">WTFcanIeat??</a></header>
    <div class="column is-two-fifths">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io"></a>
        </div>
      </nav>

    </br>
    <ul>
      {{{body}}}
    </ul>
  </div>
  <div class="column is-two-fifths">
  </div>
</div>
  <div class="column"></div>
  <div>
    <img src="https://d3p157427w54jq.cloudfront.net/uploads/2017/09/confused-guy-636x397.jpg" height=800px width="1200px">
  </div>
</div>

</body>
</html>
