<!DOCTYPE html>
<html>
  <head>
    <title>wtfcanyoueat</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <ul>
    {{#each establishments}}
      <li>{{name}} ({{type}}) {{website}} {{address}}</li>
    {{/each}}
    </ul>
  </body>
</html>
